.blackline 
    p.norm -20% на покупки від 2799 грн. Безкоштовна Доставка 
.sidenav#mySidenav
    a.closebtn.closeLeftSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    a(href="#") Наші магазини
    a(href="#") Доставка і оплата
    div.mobile-main-menu
        a(href="#").nemu-name Жінкам
            span.open-close
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти
    div.mobile-main-menu
        a(href="#").nemu-name Чоловікам
            span.open-close                
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти
    div.mobile-main-menu
        a(href="#").nemu-name Дітям
            span.open-close                
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти

    a(href="#") Відгуки 
    a(href="#") Співробітництво

header.l-header.logged
    .full-width-content
        .menu-line
            .left-menu
                div.open-menu.openLeftSideMenu
                    span 
                    span 
                    span
                ul.main-menu
                    li.main-menu-item
                        p  Жінкам
                        .sub-menu
                            .div
                                .submenu-name Жінкам
                                .left
                                    ul
                                        li
                                            a(href="#") Куртки і пальта
                                        li
                                            a(href="#") Светри
                                        li
                                            a(href="#") Джинси
                                        li
                                            a(href="#") Спортивні костюми
                                        li
                                            a(href="#") Штани і легінси
                                        li
                                            a(href="#") Футболки
                                    ul
                                        li
                                            a(href="#") Сукні
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Толстовки і світшоти
                                        li
                                            a(href="#") Сорочки
                                        li
                                            a(href="#") Трикотажні костюми
                                        li
                                            a(href="#") Кардигани
                                    ul
                                        li
                                            a(href="#") Кофти та джемпера
                                        li
                                            a(href="#") Гольфи та водолазки
                                        li
                                            a(href="#") Топи
                                        li
                                            a(href="#") Спідниці
                                        li
                                            a(href="#") Шапки
                                        li
                                            a(href="#") Шорти
                            .right                                
                                img.menu-illustrations(src="./img/illustrations/women.png", alt="women clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
                    li.main-menu-item
                        p  Чоловікам
                        .sub-menu
                            .div
                                .submenu-name Чоловікам
                                .left
                                    ul
                                        li
                                            a(href="#") 
                                                span Куртки 
                                        li
                                            a(href="#") 
                                                span Футболки
                                        li
                                            a(href="#") Костюми
                                        li
                                            a(href="#") Джинси
                                        li
                                            a(href="#") Шорти
                                        li
                                            a(href="#") Пальта
                                    ul
                                        li
                                            a(href="#") Толстовки
                                        li
                                            a(href="#") Світшоти
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Кофти
                                        li
                                            a(href="#") Ремені
                                    ul
                                        li
                                            a(href="#") Джемпера
                                        li
                                            a(href="#") Нижня білизна
                                        li
                                            a(href="#") Гольфи та водолазки
                                        li
                                            a(href="#") Шкарпетки
                                        li
                                            a(href="#") Спортивне взуття
                                        li
                                            a(href="#") Робичі костюми
                            .right                                
                                img.menu-illustrations(src="./img/illustrations/men.png", alt="men clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
                    li.main-menu-item
                        p  Дітям
                        .sub-menu
                            .div
                                .submenu-name Дітям
                                .left
                                    ul
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Сукні
                                        li
                                            a(href="#") Кардигани
                                        li
                                            a(href="#") Спортивний одяг
                                        li
                                            a(href="#") Шкільна форма 
                                        li
                                            a(href="#") Толстовки і світшоти
                                    ul
                                        li
                                            a(href="#") 
                                                span Куртки і пальта
                                        li
                                            a(href="#") 
                                                span Джинси
                                        li
                                            a(href="#") Светри
                                        li
                                            a(href="#") Прикраси
                                        li
                                            a(href="#") Штани і легінси
                                        li
                                            a(href="#") Футболки
                                    ul
                                        li
                                            a(href="#") Майки та футболки
                                        li
                                            a(href="#") Шорти
                                        li
                                            a(href="#") Кофти та джемпера
                                        li
                                            a(href="#") Спідниці
                                        li
                                            a(href="#") Взуття

                            .right                                
                                img.menu-illustrations(src="./img/illustrations/girl.png", alt="child clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
            a(href="#")
                img(src="./img/icons/Wanted.svg", alt="")
            .right-menu-info

                form.search.search-form
                    input.input.search-input(type='search' results="5" name="5" placeholder='Знайти...')
                    button.search-btn
                        
                .personal-cabinet.right-menu-info--icon.cabinet-trigger
                    .person-icon
                .cbinet-info-popup
                    p.client-name Vlad Djqyfhtyrj 
                    p.client-mail vlad@gmail.com 
                    .settings-block 
                        a(href="#").client-order 
                            img(src="./img/icons/note.svg", alt="")
                            span Замовлення 
                        a(href="#").client-order 
                            img(src="./img/icons/securityuser.svg", alt="")
                            span Особисті данні
                    a(href="#").exit-link
                        span Вийти         
                        img(src="./img/icons/logincurve.svg", alt="")


                .cart.cart-trigger.right-menu-info--icon
                    .cart-icon 
                        .cart-amount 7     

