.blackline 
    p.norm -20% на покупки від 2799 грн. Безкоштовна Доставка 
.sidenav#mySidenav
    a.closebtn.closeLeftSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="/img/icons/close.svg")
    a(href="#") Наші магазини
    a(href="#") Доставка і оплата
    a(href="#") Відгуки 
    a(href="#") Співробітництво
header.l-header
    .full-width-content
        .menu-line
            .left-menu
                div.open-menu.openLeftSideMenu
                    span 
                    span 
                    span
                ul.main-menu
                    li.main-menu-item
                        p Жінкам
                        .sub-menu
                    li.main-menu-item
                        p Чоловікам
                        .sub-menu
                    li.main-menu-item
                        p Дітям
                        .sub-menu
            a(href="#")
                img(src="./img/icons/Wanted.svg", alt="")
            .right-menu-info
                .search
                    input.input(type='text' placeholder='Знайти...')
                    button.btn
                        .search-img
                .personal-cabinet 2
                .cart  3       

