.blackline 
    p.norm -20% на покупки від 2799 грн. Безкоштовна Доставка 
.sidenav#mySidenav
    a.closebtn.closeLeftSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    a(href="#") Наші магазини
    a(href="#") Доставка і оплата
    div.mobile-main-menu
        a(href="#").nemu-name Жінкам
            span.open-close                
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти
    div.mobile-main-menu
        a(href="#").nemu-name Чоловікам
            span.open-close                
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти
    div.mobile-main-menu
        a(href="#").nemu-name Дітям
            span.open-close                
        ul.hidden-mobile-submenu
            li
                a(href="#") Куртки і пальта
            li
                a(href="#") Светри
            li
                a(href="#") Джинси
            li
                a(href="#") Спортивні костюми
            li
                a(href="#") Штани і легінси
            li
                a(href="#") Футболки
            li
                a(href="#") Сукні
            li
                a(href="#") Піджаки
            li
                a(href="#") Толстовки і світшоти
            li
                a(href="#") Сорочки
            li
                a(href="#") Трикотажні костюми
            li
                a(href="#") Кардигани
            li
                a(href="#") Кофти та джемпера
            li
                a(href="#") Гольфи та водолазки
            li
                a(href="#") Топи
            li
                a(href="#") Спідниці
            li
                a(href="#") Шапки
            li
                a(href="#") Шорти

    a(href="#") Відгуки 
    a(href="#") Співробітництво
header.l-header
    .full-width-content
        .menu-line
            .left-menu
                div.open-menu.openLeftSideMenu
                    span 
                    span 
                    span
                ul.main-menu
                    li.main-menu-item
                        p Жінкам
                        .sub-menu
                            .div
                                .submenu-name.women Жінкам
                                .left
                                    ul
                                        li
                                            a(href="#") Куртки і пальта
                                        li
                                            a(href="#") Светри
                                        li
                                            a(href="#") Джинси
                                        li
                                            a(href="#") Спортивні костюми
                                        li
                                            a(href="#") Штани і легінси
                                        li
                                            a(href="#") Футболки
                                    ul
                                        li
                                            a(href="#") Сукні
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Толстовки і світшоти
                                        li
                                            a(href="#") Сорочки
                                        li
                                            a(href="#") Трикотажні костюми
                                        li
                                            a(href="#") Кардигани
                                    ul
                                        li
                                            a(href="#") Кофти та джемпера
                                        li
                                            a(href="#") Гольфи та водолазки
                                        li
                                            a(href="#") Топи
                                        li
                                            a(href="#") Спідниці
                                        li
                                            a(href="#") Шапки
                                        li
                                            a(href="#") Шорти
                            .right                                
                                img.menu-illustrations(src="./img/illustrations/women.png", alt="women clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
                    li.main-menu-item
                        p Чоловікам
                        .sub-menu
                            .div
                                .submenu-name.men Чоловікам
                                .left
                                    ul
                                        li
                                            a(href="#") 
                                                span Куртки і пальта
                                        li
                                            a(href="#") 
                                                span Светри
                                        li
                                            a(href="#") Джинси
                                        li
                                            a(href="#") Спортивні костюми
                                        li
                                            a(href="#") Штани і легінси
                                        li
                                            a(href="#") Футболки
                                    ul
                                        li
                                            a(href="#") Сукні
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Толстовки і світшоти
                                        li
                                            a(href="#") Сорочки
                                        li
                                            a(href="#") Трикотажні костюми
                                        li
                                            a(href="#") Кардигани
                                    ul
                                        li
                                            a(href="#") Кофти та джемпера
                                        li
                                            a(href="#") Гольфи та водолазки
                                        li
                                            a(href="#") Топи
                                        li
                                            a(href="#") Спідниці
                                        li
                                            a(href="#") Шапки
                                        li
                                            a(href="#") Шорти
                            .right                                
                                img.menu-illustrations(src="./img/illustrations/women.png", alt="women clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
                    li.main-menu-item
                        p Дітям
                        .sub-menu
                            .div
                                .submenu-name.childrens Дітям
                                .left
                                    ul
                                        li
                                            a(href="#") 
                                                span Куртки і пальта
                                        li
                                            a(href="#") 
                                                span Светри
                                        li
                                            a(href="#") Джинси
                                        li
                                            a(href="#") Спортивні костюми
                                        li
                                            a(href="#") Штани і легінси
                                        li
                                            a(href="#") Футболки
                                    ul
                                        li
                                            a(href="#") Сукні
                                        li
                                            a(href="#") Піджаки
                                        li
                                            a(href="#") Толстовки і світшоти
                                        li
                                            a(href="#") Сорочки
                                        li
                                            a(href="#") Трикотажні костюми
                                        li
                                            a(href="#") Кардигани
                                    ul
                                        li
                                            a(href="#") Кофти та джемпера
                                        li
                                            a(href="#") Гольфи та водолазки
                                        li
                                            a(href="#") Топи
                                        li
                                            a(href="#") Спідниці
                                        li
                                            a(href="#") Шапки
                                        li
                                            a(href="#") Шорти
                            .right                                
                                img.menu-illustrations(src="./img/illustrations/women.png", alt="women clothes")
                                .inform-banner 
                                    img(src="./img/illustrations/sale.png", alt="sale")
            a(href="#")
                img(src="./img/icons/Wanted.svg", alt="")
            .right-menu-info

                .search.right-menu-info--icon
                    input.input(type='text' placeholder='Знайти...')
                    button.btn
                        .search-img
                .personal-cabinet.right-menu-info--icon
                    .person-icon
                .cart.right-menu-info--icon
                    .cart-icon 
                        .cart-amount 12      

