.blackline{
    background-color: #0B0B0B;
    padding: 16px 0px;
    text-align: center;
    .norm {
        color: #F5F5F5;
        text-transform: uppercase;
        font-weight: 300;
    }

}

.l-header {
}

.menu-line{
  padding: 46px 32px;
    height: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}

.open-menu {
    height: 20px;
    width: 27px;
    cursor: pointer;
    margin-right: 34px;
    &:hover{
        span{
            background-color: #7D5555;
            transition: all ease 0.3s;
        }
    }
    span{
        display: block;
        
        width: 100%;
        height: 1px;
        background-color: #0B0B0B;
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0;
    left: -100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    width: 250px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(54, 54, 54);
    display: block;
    transition: 0.4s;
    font-weight: 300;
  }
  
  .sidenav a:hover {
    color: #000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .overflow-block{
    background-color: rgba(1,1,1,.4);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.3s;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .main-menu, .right-menu-info,  .left-menu{
    display: flex;
    align-items: center;
  }

  .right-menu-info{
    justify-content: flex-end;
  }
  

  .main-menu{
    &-item{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #0B0B0B;
        cursor: pointer;
        &:hover{
          color: #000;
        }
        &:not(:last-child){
          margin-right: 42px;;

        }

    }
  }



  .search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    position: absolute;
    right: 0px;;
    width: 30px;
    background-color: transparent;
}

.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 37px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    border-radius: 2px;

    background-color: rgba(255, 255, 255, 0.4);
}


.search{
  .search-img{
    width: 27px;
    height: 28px;
    background:  url('../img/icons/search.svg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.personal-cabinet{
  width: 27px;
  height: 28px;
  background:  url('../img/icons/person.svg') ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cart-icon {
  width: 27px;
  height: 28px;
  background:  url('../img/icons/bag.svg') ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.cart-amount{
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: #6FB662;
  border-color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  border-radius: 100%;

}

.right-menu-info--icon{
  margin-right: 40px;
  cursor: pointer;
}

.menu-line{
  position: relative;
}

.sub-menu{
  background: #fff;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 35px 40px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-bottom: 1px solid #e5e5e5;
    opacity: 0;
    visibility: hidden;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: visibility .5s ease, opacity .5s ease, min-height .5s ease, max-height .5s ease;
    transition: visibility .5s ease, opacity .5s ease, min-height .5s ease, max-height .5s ease;
}

.main-menu-item.hover{
  .sub-menu{
    opacity: 1;
    visibility: visible;
    max-height: initial;
    min-height: auto;
  }
}


.submenu-name{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #0B0B0B;
  transform: rotate(-90deg) translateY(-71px) translateX(-68px);
}

.sub-menu{
  .left{
    display: flex;
    text-align: left;
    margin-right: 93px;
    ul:not(:last-child){
      margin-right: 15px;
    }

  }
  .right {
    display: flex;
    justify-content: space-between;
  }
}

.menu-illustrations{
  width: 300px;
  margin-right: 80px;
}

.inform-banner{
  width: 546px;
  height: 260px;
  position: relative;
  img{
    width: 100%;
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 97px;
    height: 73px;
    background:  url('../img/illustrations/cat.svg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}