.blackline{
    background-color: #0B0B0B;
    padding: 16px 0px;
    text-align: center;
    .norm {
        color: #F5F5F5;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.4px;
        font-size: 14px;
    }

}



.menu-line{
    height: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    padding: 0 55px 0 39px;
}

.open-menu {
    height: 20px;
    width: 27px;
    cursor: pointer;
    margin-right: 44px;
    &:hover{
        span{
            border-bottom: 1px solid #7D5555;
            transition: all ease 0.3s;
        }
    }
    span{
        display: block;
        
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #000;
        // background-color: #0B0B0B;
        &:not(:last-child){
            margin-bottom: 8px;
        }
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    opacity: 0;
    left: -100%;
    background-color: #fff;
    transition: 0.4s;
    padding-top: 60px;
    width: 329px;
    padding-right: 40px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(54, 54, 54);
    display: block;
    transition: 0.4s;
    font-weight: 400;
  }
  
  .sidenav a:hover {
    color: #000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .main-menu, .right-menu-info,  .left-menu{
    display: flex;
    align-items: center;
  }

  .right-menu-info{
    justify-content: flex-end;
  }
  

  .main-menu{
    &-item{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #0B0B0B;
        cursor: pointer;
        &:hover{
          color: #000;
          cursor: default;
        }
        &:not(:last-child){
          padding-right: 42px;;

        }

    }
  }



//   .search {
//     position: relative;
//     height: 50px;
// }

// .search .input {
//     background-color: #fff;
//     border: 0;
//     font-size: 18px;
//     padding: 15px;
//     height: 50px;
//     width: 50px;
//     transition: width 0.3s ease;
//     position: absolute;
//     right: -11px;
//     width: 30px;
//     background-color: transparent;
// }

// .btn {
//     background-color: transparent;
//     border: 0;
//     cursor: pointer;
//     font-size: 24px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 50px;
//     width: 37px;
//     transition: transform 0.3s ease;
// }

// .btn:focus,
// .input:focus {
//     outline: none;
// }

// .search.active .input {
//     border-radius: 2px;
//     width: 272px;
//     margin-right: 21px;
//     background-color: rgba(255, 255, 255, 0.4);
//     padding-left:50px;
// }


// .search{
//   .btn{
//     margin-right: 27px;
//     transition: all ease-in-out 0.3s;
//   }
//   .search-img{
//     height: 25px;
//     width: 24px;
//     background:  url('../img/icons/search.svg') ;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//   }
//   &.active .btn{
//     position: absolute;
//     right:200px;
//   }
// }

.search-form{
  position: relative;
  margin-right: 26px;
}

.search-form.active{
  input[type = 'search']{
    background-color: #fff;
    width: 300px;
    padding-left: 30px;

  }
  input[type = 'search']::-webkit-search-cancel-button{ 
    display: block;
  }
}


input[type = 'search']{
  height: 40px;;
  margin-right: 15px;;
  text-align: left;
  padding-left: 0px;
  width: 0px;;
  background-color: transparent;
  border-radius: 2PX;;
}

.search-btn{
      height: 24px;
      background:  url('../img/icons/search.svg') ;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      width: 23px;
      right: 25px;
      top: 9px;
}

input[type = 'search']::-webkit-search-cancel-button{
	-webkit-appearance: none;	
  display: none;
	height: 40px;
	width: 15px;
  position: absolute;
  left: 7px;
/* 	position: absolute;
	right: 0; */
  content: URL('../img/icons/close.svg');
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}
.personal-cabinet{
  height: 24px;
  width: 24px;
  background:  url('../img/icons/person.svg') ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 40px;;
}

.person-icon{
  height: 24px;
  display: block;;
}

.cbinet-info-popup{
  display: none;
}

.personal-cabinet{
  position: relative;
}

.logged.active .right-menu-info {
  .cbinet-info-popup{
    position: absolute;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 15px;
    right: 33px;
    top: 65px;
    z-index: 99;
    width: 253px;
    .client-name{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #0B0B0B;
      margin-bottom: 10px;
      text-align: left;
    }
    .client-mail{
      font-style: normal;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F7682;
      margin-bottom: 20px;;
    }
    .settings-block{
      padding: 20px 0px;
      margin-bottom: 20px;
      border-top: 1px solid #BEBEBE;
      border-bottom: 1px solid #BEBEBE;
      a{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #0B0B0B;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: all ease 0.3s;
        &:not(:last-child){

          margin-bottom: 15px;;
        }
        &:hover{
          color: #000;
          text-shadow: 0px 0px 0px #000;
          svg {
            fill: #000;
          }
        }
      }
      img{
        max-width: 21px;
        margin-right: 15px;

      }
    }
    .exit-link{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #6F7682;
      justify-content: space-between;
      transition: all ease 0.3s;
      &:hover{
        color: #000;
      }
      img{
        width: 24px;
        fill: #000;
      }  
    }
  }
}




.cart-icon {
  width: 27px;
  height: 28px;
  background:  url('../img/icons/bag.svg') ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.cart-amount{
  align-items: center;
  background-color: #6fb662;
  border: 3px solid #f5f5f5;
  border-radius: 100%;
  bottom: -5px;
  color: #fff;
  display: flex;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  padding: 3px;
  position: absolute;
  right: -8px;
  width: 10px;
  width: 23px;
  z-index: 9;
}

.right-menu-info--icon{
  cursor: pointer;
}

.menu-line{
  position: relative;  
}

.sub-menu{
  background: #F5F5F5;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 100px 40px 60px;
  top: 57px;
  z-index: 9;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  opacity: 0;
  // display: none;
  visibility: hidden;
  // min-height: 0;
  // max-height: 0;
  overflow: hidden;  
  pointer-events: none;
  transition: all ease-in-out 0.0s;
  // transition: visibility .5s ease, opacity .5s ease, min-height .5s ease, max-height .5s ease;
  // transition: visibility .5s ease, opacity .5s ease, min-height .5s ease, max-height .5s ease;
}


.hovers{
  .sub-menu{
    transition: all ease-in-out 0.3s;
  }
}


.main-menu-item{
  transition: all ease-in-out 0.6s;
}

.main-menu-item.hover{
  .sub-menu{
    opacity: 1;
    // display: flex;
    pointer-events: all;
    visibility: visible;
    // max-height: initial;
    // min-height: auto;
  }
}

.main-menu-item p {
  width: 100%;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}


.submenu-name{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 28px;
  width: 157px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #0B0B0B;
  transform: rotate(-90deg) translateY(-26px) translateX(-111px);
  position: absolute;
  left: 0px;
  &.women{
    transform: rotate(-90deg) translate(-67px, -24px);
  }
  &.men{
    transform: rotate(-90deg) translate(-137px, -24px);
  }
  &.childrens{
    transform: rotate(-90deg) translate(-49px, -24px);
  }
}

.sub-menu{
  &:before{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top:30px;
    left:0px;
    background-repeat: repeat;
    background-image: url(../img/icons/dashed.svg);
  }
  .left{
    display: flex;
    text-align: left;
    margin-right: 93px;
    padding-left: 92px;
    ul:not(:last-child){
      margin-right: 84px;
    }
    li{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 129.99%;
      /* or 21px */
      display: flex;
      align-items: center;
      letter-spacing: 0.0155em;
      margin-bottom: 26px;
      text-transform: none;
      position: relative;
      a:hover{
        text-decoration: underline;
      }
    }
  }
  .right {
    display: flex;
    justify-content: space-between;
  }
}

.menu-illustrations{
  width: auto;
  height: 363px;
  position: absolute;
  bottom: 0px; 
  margin-right: 80px;
  left: 47%;
}

.inform-banner{
  width: 546px;
  height: 260px;
  position: relative;
  text-align: right;
  img{
    width: 100%;
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    display: block;
    height: 73px;
    left: 131px;
    position: absolute;
    top: -55px;
    width: 97px;
    background:  url('../img/illustrations/cat.png') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}


.sidenav .mobile-main-menu a.nemu-name{
 font-weight: 600;
 display: flex;
  justify-content: space-between;
}

.open-close{
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 20px;;
  transition: all ease 0.3s;
}

.open-close:after{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 7px;
  transition: all ease 0.3s;
}
.open-close:before{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: center;
  top: 7px;
}

.hidden-mobile-submenu{
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.mobile-main-menu.open .hidden-mobile-submenu{
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.mobile-main-menu.open .open-close:before{
  transform: rotate(0deg);
  transform-origin: center;
}

@media screen and (max-width: 1650px){
  .inform-banner {
    height: auto;
    width: 386px;
  }
  .menu-illustrations {
    left: auto;
    right: 23%;
  }
  .sub-menu .left ul:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1500px){
  .menu-illustrations{
    display: none;
  }
  .inform-banner:before {
    left: 7px;
  }
}


@media screen and (max-width: 1200px){
  .main-menu{
    display: none;
  }
}


@media screen and (max-width: 920px){
  // .search .btn {
  //   margin-right: 4px;
  // }
  .personal-cabinet {
    margin-right: 12px;
  }
  .menu-line {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 70px;
    padding: 0 15px 0 15px;

  }
  .search {
    left: 53px;
    position: absolute;
  }
  .search.active .input {
    background-color: hsla(0,0%,100%,1);
    border: 1px solid #d5d5d5;
  }
  .search-btn {
    left: 8px;
  }
  input[type = 'search']::-webkit-search-cancel-button{
    left: auto;
    right: 7px;

    }


  .search-form.active input[type=search] {
    background-color: #fff;
    padding-left: 40px;
    width: 245px;
    padding-right: 35px;
  }
  .l-header.no-margin-bottom {
    margin-bottom: 0px;;
  }

}


@media screen and (max-width: 780px){ 
  .sidenav{
    width: 100%;
  }
  .menu-line{
    background-color: #fff;
    height: 60px;
    margin-bottom: 15px;
  }
  .cart-amount {
    border: 3px solid #fff;
  }
  .l-header{
    position: sticky;
    top: 0px;
    z-index: 9999;
    /* border-bottom: 1px solid #ccc; */
    box-shadow: -3px 4px 15px #cccccc42;
  }

  
}
