.l-main {
    .sliders-item{
        min-height: 500px;
        img{
            width: 100%;
        }
    }
    .main-image-slider{
        position: relative;
        .slick-dots{
            position: absolute;
            bottom: 24px;
            right: 19%;
        }
    }
}
.slick-dots li button { 
    font-size: 0; 
    width: 8px;
    height: 8px;
    background: #0B0B0B;
    border-radius: 100%;
    position: relative;
} 

.slick-dots li.slick-active button:before { 
    background: transparent;
    border: 2px solid #0b0b0b;
    border-radius: 100%;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    width: 16px;
    top: 0;
    left: 0;
    transform: translate(-4px, -4px);

 } 


 .card{
    max-width: 268px;
    display: block;
    .prices{
        display: flex;
        align-items: baseline;
    }
 }

 .card-top{
    position: relative;
    max-height: 340px;
    overflow: hidden;
    margin-bottom: 20px;;
}


.card-flag{
    position: absolute;
    width: 50px;
    height: 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sale{
    bottom: 10px;
    left: 10px;
    background-color: #FF3737;
}

.card-sale:after{
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-top: 10px solid #FF3737;
    bottom: -6px;
    left: 2px;
    content: "";
    height: 0;
    position: absolute;
    width: 20px;
}

.card-new{
    top: 10px;
    right: 10px;
    background-color: #6FB662;
}
.card-new:after{
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-top: 10px solid #6FB662;
    bottom: -6px;
    left: 2px;
    content: "";
    height: 0;
    position: absolute;
    width: 20px;
}





.card-colors{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    .color-item{
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 1px solid transparent;
        margin-right: 6px;
    }
    
}



.more-colors{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #7F7F7F;
}
.newPrice{
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #0B0B0B;
    margin-right: 10px;;
}
.oldPrice{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 129.99%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0155em;
    text-decoration-line: line-through;
    color: #7F7F7F;
}
.card-name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.0155em;
    color: #7F7F7F;
    margin-bottom: 10px;
}
.card-infoLine{
    display: flex;
    justify-content: space-between;
}


 .new-collection-block{
    padding-top: 130px;
 }

 .new-collection-slider.side-custom-arrows{
    .slick-next{
        background-repeat: no-repeat;
        background-position: 30% center;
        height: 81%;
        position: absolute;
        right: 0;
        top: 0px;
        width: 60px;
        
        &:hover{
            background-color:  rgba(250, 250, 250, 0.2);
            background-image: url(../img/icons/arrow-right.svg);
        }
    }
    .slick-prev{
        background-repeat: no-repeat;
        background-position: 30% center;
        height: 81%;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 0px;
        width: 60px;        
        &:hover{
            background-color:  rgba(250, 250, 250, 0.2);
            background-image: url(../img/icons/arrow-left.svg);
        }
    }
    
 }