@use '../helpers' as h;

.l-main {
    margin-bottom: 65px;
    .sliders-item{
        min-height: 500px;
        img{
            width: 100%;
        }
    }
    .main-image-slider{
        position: relative;
        .slick-dots{
            position: absolute;
            bottom: 24px;
            right: 19%;
        }
    }
}



.main-slider .slick-slide img{
    object-fit: cover;
}

.slick-dots li button { 
    font-size: 0; 
    width: 8px;
    height: 8px;
    background: #0B0B0B;
    border-radius: 100%;
    position: relative;
} 

.slick-dots li.slick-active button:before { 
    background: transparent;
    border: 2px solid #0b0b0b;
    border-radius: 100%;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    width: 16px;
    top: 0;
    left: 0;
    transform: translate(-4px, -4px);

 } 


 .card{
    max-width: 268px;
    display: block;
    // margin-right: 28px;
    .prices{
        display: flex;
        align-items: baseline;
    }
 }

 .card-top{
    position: relative;
    max-height: 336px;
    height: 336px;
    overflow: hidden;
    margin-bottom: 20px;;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


.card-flag{
    position: absolute;
    width: 50px;
    height: 22px;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sale{
    bottom: 10px;
    left: 10px;
    background-color: #FF3737;
    z-index: 8;
    
}

.card-sale:after{
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 9px solid #ff3737;
    bottom: -5px;
    content: "";
    height: 0;
    left: 1px;
    position: absolute;
    width: 6px;
}

.card-new{
    top: 10px;
    right: 10px;
    background-color: #6FB662;
    z-index: 8;
}
.card-new:after{
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 9px solid #6FB662;
    bottom: -5px;
    left: 1px;
    content: "";
    height: 0;
    position: absolute;
    width: 6px;
}

.card-colors{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    .color-item{
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 1px solid transparent;
        margin-right: 6px;
    }    
}

.card.card-no-data {
    .card-top{
        background-color: #E9E9E9;;
    }
    .card-name, .price-num, .price-currency, .oldPrice, .card-colors{
        background-color: #E9E9E9;
        display: inline;
        color: transparent;
        font-size: 17px;
        height: 20px;
    }
    .card-name{
        margin-bottom: 20px;

    }
    .price-num{
        margin-top: 10px;;
    }

}


.more-colors{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #7F7F7F;
}


.newPrice{
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #0B0B0B;
    margin-right: 10px;;
}
.oldPrice{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 129.99%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0155em;
    text-decoration-line: line-through;
    color: #7F7F7F;
    max-width: 81px;
    overflow: hidden;

    position: relative;
    &:after{

        content: "";
        height: 19px;
        position: absolute;
        right: 0px;
        top: 0;
        width: 15px;
        background: linear-gradient(90deg, #D9D9D9 -9.31%, rgba(217, 217, 217, 0) -9.3%, #F5F5F5 100%);
    }

}
.card-name{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.0155em;
    color: #7F7F7F;
    margin-bottom: 10px;
    text-overflow: ellipsis; // обрізання довгих блоків з текстом
    overflow: hidden; // приховати текст, що виходить за межі блоку
    width: 100%; // ширина блоку з текстом
    white-space: nowrap; // заборона на перенесення тексту
}
.card-infoLine{
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis; // обрізання довгих блоків з текстом
    overflow: hidden; // приховати текст, що виходить за межі блоку
    width: 100%; // ширина блоку з текстом
    margin-bottom: 7px;
    white-space: nowrap; // заборона на перенесення тексту
}

.new-collection-block{
    padding: 80px 0px;
}

.sale-block{
    padding: 80px 0px;
}
.last-seen{
    padding: 80px 0px;    
 }
 .last-seen{
    padding-bottom: 160px;
 }


 .sale-block .slider-name{
    transform: rotate(-90deg) translateX(-10px) translateY(-41px);
}

.last-seen .slider-name{
    width: 200px;
    transform: rotate(-90deg) translateX(-79px) translateY(-61px);
}

.new-collection-slider .slick-slide,
.sale-slider .slick-slide ,
.last-seen .slick-slide {
    margin: 0 28px 0px 0px ;
}

 .side-custom-arrows{
    .slick-next{
        background-repeat: no-repeat;
        background-position: 30% center;
        height: 81%;
        position: absolute;
        right: 28px;
        top: 0px;
        width: 60px;
        
        &:hover{
            background-color:  rgba(250, 250, 250, 0.2);
            background-image: url(.././img/icons/arrow-right.svg);
        }
    }
    .slick-prev{
        background-repeat: no-repeat;
        background-position: 30% center;
        height: 81%;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 0px;
        width: 60px;        
        &:hover{
            background-color:  rgba(250, 250, 250, 0.2);
            background-image: url(.././img/icons/arrow-left.svg);
        }
    }    
}

.slider-name{
    position: absolute;
    left: 0px;
    /* top: 0px; */
    transform: rotate(-90deg) translateX(-41px) translateY(-41px);
    color: #7f7f7f;
    font-style: normal;
    letter-spacing: .022em;
    font-weight: 800;
    text-transform: uppercase;
    width: 193px;
    letter-spacing: 0.22em;
    font-size: 12px;
    position: absolute;
    left: -10px;
}

.new-collection-slider:before,
.sale-slider:before,
.last-seen-slider:before{
    content: attr(data-sliderName);
    /* top: 0px; */
    transform: rotate(-90deg) translateX(-87px) translateY(-0px);
    color: #7f7f7f;
    font-style: normal;
    letter-spacing: .022em;
    font-weight: 800;
    text-transform: uppercase;
    width: 193px;
    letter-spacing: 0.22em;
    font-size: 12px;
    position: absolute;
    left: -174px;
    text-align: right;

}

.new-collection-block .content {
    position: relative;
}

.sale-block .content {
    position: relative;
}

.last-seen .content {
    position: relative;
}

.sliders-header-writing-mode{
   
    display: block;

    color: #7f7f7f;
    font-size: 12px;

    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    height: 40px;
    height: 300px;
    letter-spacing: .22em;
    text-transform: uppercase;

    position: absolute;
    left: -77px;
    
    margin: 0;
    padding: 0;
    text-align: right;

    transform: rotate(-180deg);
    writing-mode: tb-rl;
}


@media screen and (max-width: 900px){
    .new-collection-slider, .sale-slider, .last-seen-slider{
        max-width: 600px;;
        margin: 0 auto;
    } 
    .main-slider .slick-slide img{
        min-height: 468px;
        /* width: 100%; */
        object-fit: cover;

    }
    .last-seen-slider:before, .new-collection-slider:before, .sale-slider:before {
        content: attr(data-sliderName);
        left: -174px;
        text-align: right;        
        transform: none; 
        left: 0;
        top: -39px;
        text-align: left;
    }
    .sliders-header-writing-mode {
        font-size: 12px;
        top: -59px;
        writing-mode: initial;
        transform: none;
        left: 15px;
    }

}


@media screen and (max-width: 730px){
    .slider-name , .sale-block .slider-name,  .last-seen .slider-name{          
        position: relative;      
        transform: none;
        width: auto;
        margin-bottom: 30px;
    }
    // .new-collection-block{
    //     padding: 15px 0px;
    // }
    
    // .sale-block{
    //     padding: 15px 0px;
    // }
    // .last-seen{
    //     padding: 15px 0px;    
    //  }
     .main-image-slider{
        min-height: 468px;
     }

     .l-main {
        margin-bottom: 25px;
    }
    .l-main{
        margin-top: -20px;
    }

}


@media screen and (max-width: 590px){
    .new-collection-slider, .sale-slider, .last-seen-slider{
        max-width: 310px;;
        margin: 0 auto;
    } 
    .last-seen-slider{
        max-width: 100%;
        margin: 0 auto;
    } 
    .card {
        margin-right: 15px;
        max-width: 150px;
        margin-bottom: 40px;
    }
    .card-top{
        height: 230px;
        width: 150px;
        margin-bottom: 0px;
    }

    .card-name{
        font-weight: 600;
        margin-bottom: 5px;
    }
    .card-infoLine{
        flex-direction: column;
    }
    .slick-slide .card img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .card-infoLine .prices{
        order: 2;        
    }

    .card-colors{
        margin-bottom: 5px;;
    }
    .newPrice{
        font-size: 16px;;
    }
    .oldPrice{
        font-size: 16px;;
    }
    .main-slider .slick-slide img{
        min-height: 468px;
        /* width: 100%; */
        object-fit: cover;

    }
    .new-collection-block, .sale-block, .last-seen{
        .content{
            padding: 0 5px;
        }
    }
    .last-seen, .sale-block, .new-collection-block {
        padding: 60px 0px 0px 0px;;
    }
    .side-custom-arrows .slick-next {
        background-position: 30%;
        background-repeat: no-repeat;
        height: 250px;
        position: absolute;
        right: 8px;
        top: 0;
        width: 45px;
    }

}


.center{
    text-align: center;
}


.row-oferta{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding-left: 100px;
    margin: 35px 0px;

}

.left-oferta {
     width: 170px;
     padding-right: 20px;
     
    p{
        font-family: h.$font-family;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}



.right-oferta {
    width: 70%; 
    h6{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 6px;;
    }
    p{
        font-family: h.$font-family;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 22px;
        span {
            font-weight: 600;
        }

    }
    ul {
        margin-bottom: 22px;;
        padding-left: 20px; // Відступ для розміщення списку всередині абзаца
        list-style: none; // Забираємо стандартні стилі маркерів списку
        li {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 6px;
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: black; 
                border-radius: 50%; 
                margin-right: 10px; 
                position: absolute;
                left: -15px; 
                top: 50%; 
                transform: translateY(-50%); 
            }
        }
    }

}
.map-place {
    width: 100%;
    min-height: 400px;
    height: 400px;;
    filter:grayscale(1);
    iframe {
        width: 100%;
        height: 100%;;
    }
}

.adress-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 100px;
    margin: 35px 0px;
    .city{
        width: 20%;
        p{
            font-family: h.$font-family;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.1px;
        }
    }
    .adress {
        width: 50%;
        padding-right: 50px;;
    }
    .link {
        width: 20%
    }
    .text{
        p{
            font-size: 14px;
        
        }
    }
    .link a , a, p{
        font-family: h.$font-family;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 22px;
        span {
            font-weight: 600;
        }

    }
    a {
        text-decoration: underline;
    }
}

.wrap-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    .wrp-img {
        width: 30px;
        margin-right: 15px;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 30px;
        min-width: 26px;
        img{
            // width: 30px;
        }
        &.time{
            img{

                width: 20px;
            }
        }
    }
    .text {
        margin-top: 0px;;
    }
}

@media  (max-width: 780px ) {
    .row-oferta{
        padding-left: 0px;;
    }
    .adress-line{
        padding-left: 0px;;
    }
    .adress-line .city {
        width: 16%;
    }
    .wrap-info .wrp-img {

        width: 30px;
        min-width: 26px;
    }
}

@media  (max-width: 600px ) {
    .row-oferta{
        flex-direction: column;
    }
    .adress-line{
        flex-direction: column;
        .city, .adress, .link{
            width: 100%;
        }
    }
}