link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap" rel="stylesheet")
link(href="./js/noUiSlider/nouislider.min.css")
link(href='https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css' rel='stylesheet')
link(rel="stylesheet", href=cssPath + "style.min.css")
link( href="./css/magnific-popup.css")

//- if IsItItemPage
//-     link( href="./js/magi_popup/magnific-popup.css")