.cart-page-block
    .content        
        .cart-page-name Кошик оформлення замовлення
        .personal-line 
            img(src="../img/icons/person.svg", alt="")
            a(href="#") Увійдіть в акаунт
            |, щоб використовувати збережені дані і відслідковувати замовлення в особистому кабінеті 
        .wrap-ware
            .wrap-ware-item.your-order
                p.ware-block-name Ваше замовлення
                // ITEM 
                .ware-item
                    .ware-left 
                        .ware-img 
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .ware-inform-block 
                            .cont
                                p.ware-name  Білий трикотажний джемпер з коміром стійка та гудзиками 
                                p.ware-info Колір: 
                                    span  сіро-зелений
                                p.ware-info Розмір:
                                    span  M
                                p.ware-info Артикул:
                                    span 3359551
                            .counter-wrap 
                                .counter-nav.counter-minus 
                                .counter-number 1
                                .counter-nav.counter-plus
                    .ware-prices
                        .newPrice
                            span.hide-info.originPrice  2
                            span.price-num.placeForPrice 2
                            span.price-currency &nbsp;грн.           
                        .oldPrice                            
                            spa 7806778
                            span.price-currency ₴
                    .delete-img 
                        svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                            mask#path-1-inside-1_150_2507(fill='#fff')
                                path( class="delete-icon" d='M21.335 24.457H3.643V3.122h17.692v21.335zm-16.652-1.04h15.612V4.163H4.683v19.254z')
                            path(class="delete-icon" d='M21.335 24.457H3.643V3.122h17.692v21.335zm-16.652-1.04h15.612V4.163H4.683v19.254z' fill='#0B0B0B')
                            path(class="delete-icon" d='M21.335 24.457v2h2v-2h-2zm-17.692 0h-2v2h2v-2zm0-21.335v-2h-2v2h2zm17.692 0h2v-2h-2v2zM4.683 23.417h-2v2h2v-2zm15.612 0v2h2v-2h-2zm0-19.254h2v-2h-2v2zm-15.612 0v-2h-2v2h2zm16.652 18.294H3.643v4h17.692v-4zm-15.692 2V3.122h-4v21.335h4zm-2-19.335h17.692v-4H3.643v4zm15.692-2v21.335h4V3.122h-4zM4.683 25.417h15.612v-4H4.683v4zm17.612-2V4.163h-4v19.254h4zm-2-21.254H4.683v4h15.612v-4zm-17.612 2v19.254h4V4.163h-4z' fill='#0B0B0B' mask='url(#path-1-inside-1_150_2507)')
                            mask#path-3-inside-2_150_2507(fill='#fff')
                                path(d='M18.213 4.163H6.765V0h11.448v4.163zM7.805 3.123h9.367V1.04H7.805v2.081z')
                            path( class="delete-icon" d='M18.213 4.163H6.765V0h11.448v4.163zM7.805 3.123h9.367V1.04H7.805v2.081z' fill='#0B0B0B')
                            path(class="delete-icon" d='M18.213 4.163v2h2v-2h-2zm-11.448 0h-2v2h2v-2zm0-4.163v-2h-2v2h2zm11.448 0h2v-2h-2v2zM7.805 3.122h-2v2h2v-2zm9.367 0v2h2v-2h-2zm0-2.081h2v-2h-2v2zm-9.367 0v-2h-2v2h2zm10.408 1.122H6.765v4h11.448v-4zm-9.448 2V0h-4v4.163h4zM6.765 2h11.448v-4H6.765v4zm9.448-2v4.163h4V0h-4zM7.805 5.122h9.367v-4H7.805v4zm11.367-2V1.041h-4v2.081h4zm-2-4.081H7.805v4h9.367v-4zm-11.367 2v2.081h4V1.041h-4z' fill='#0B0B0B' mask='url(#path-3-inside-2_150_2507)')
                            mask#path-5-inside-3_150_2507(fill='#fff')
                                path(d='M8.326 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M8.326 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M8.326 18.814c.817 0 1.48.663 1.48 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.48 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-5-inside-3_150_2507)')
                            mask#path-7-inside-4_150_2507(fill='#fff')
                                path(d='M12.49 20.814a.52.52 0 01-.521-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M12.49 20.814a.52.52 0 01-.521-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M12.49 18.814a1.48 1.48 0 011.479 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.479 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-7-inside-4_150_2507)')
                            mask#path-9-inside-5_150_2507(fill='#fff')
                                path(d='M16.652 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M16.652 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M16.652 18.814c.817 0 1.48.663 1.48 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.48 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-9-inside-5_150_2507)')
                            mask#path-11-inside-6_150_2507(fill='#fff')
                                path(d='M24.978 3.122H0v1.04h24.978v-1.04z')
                            path(class="delete-icon" d='M24.978 3.122H0v1.04h24.978v-1.04z' fill='#0B0B0B')
                            path(class="delete-icon" d='M0 3.122v-2h-2v2h2zm24.978 0h2v-2h-2v2zm0 1.04v2h2v-2h-2zM0 4.163h-2v2h2v-2zm0 .96h24.978v-4H0v4zm22.978-2v1.04h4v-1.04h-4zm2-.96H0v4h24.978v-4zM2 4.163v-1.04h-4v1.04h4z' fill='#0B0B0B' mask='url(#path-11-inside-6_150_2507)')
                // ITEM 
                .ware-item
                    .ware-left 
                        .ware-img 
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .ware-inform-block 
                            .cont
                                p.ware-name  Білий трикотажний джемпер з коміром стійка та гудзиками 
                                p.ware-info Колір: 
                                    span  сіро-зелений
                                p.ware-info Розмір:
                                    span  M
                                p.ware-info Артикул:
                                    span 3359551
                            .counter-wrap 
                                .counter-nav.counter-minus 
                                .counter-number 1
                                .counter-nav.counter-plus
                    .ware-prices
                        .newPrice
                            span.hide-info.originPrice  999
                            span.price-num.placeForPrice 999
                            span.price-currency &nbsp;грн.           
                        .oldPrice                            
                            spa 7806778
                            span.price-currency ₴
                    .delete-img 
                        svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                            mask#path-1-inside-1_150_2507(fill='#fff')
                                path( class="delete-icon" d='M21.335 24.457H3.643V3.122h17.692v21.335zm-16.652-1.04h15.612V4.163H4.683v19.254z')
                            path(class="delete-icon" d='M21.335 24.457H3.643V3.122h17.692v21.335zm-16.652-1.04h15.612V4.163H4.683v19.254z' fill='#0B0B0B')
                            path(class="delete-icon" d='M21.335 24.457v2h2v-2h-2zm-17.692 0h-2v2h2v-2zm0-21.335v-2h-2v2h2zm17.692 0h2v-2h-2v2zM4.683 23.417h-2v2h2v-2zm15.612 0v2h2v-2h-2zm0-19.254h2v-2h-2v2zm-15.612 0v-2h-2v2h2zm16.652 18.294H3.643v4h17.692v-4zm-15.692 2V3.122h-4v21.335h4zm-2-19.335h17.692v-4H3.643v4zm15.692-2v21.335h4V3.122h-4zM4.683 25.417h15.612v-4H4.683v4zm17.612-2V4.163h-4v19.254h4zm-2-21.254H4.683v4h15.612v-4zm-17.612 2v19.254h4V4.163h-4z' fill='#0B0B0B' mask='url(#path-1-inside-1_150_2507)')
                            mask#path-3-inside-2_150_2507(fill='#fff')
                                path(d='M18.213 4.163H6.765V0h11.448v4.163zM7.805 3.123h9.367V1.04H7.805v2.081z')
                            path( class="delete-icon" d='M18.213 4.163H6.765V0h11.448v4.163zM7.805 3.123h9.367V1.04H7.805v2.081z' fill='#0B0B0B')
                            path(class="delete-icon" d='M18.213 4.163v2h2v-2h-2zm-11.448 0h-2v2h2v-2zm0-4.163v-2h-2v2h2zm11.448 0h2v-2h-2v2zM7.805 3.122h-2v2h2v-2zm9.367 0v2h2v-2h-2zm0-2.081h2v-2h-2v2zm-9.367 0v-2h-2v2h2zm10.408 1.122H6.765v4h11.448v-4zm-9.448 2V0h-4v4.163h4zM6.765 2h11.448v-4H6.765v4zm9.448-2v4.163h4V0h-4zM7.805 5.122h9.367v-4H7.805v4zm11.367-2V1.041h-4v2.081h4zm-2-4.081H7.805v4h9.367v-4zm-11.367 2v2.081h4V1.041h-4z' fill='#0B0B0B' mask='url(#path-3-inside-2_150_2507)')
                            mask#path-5-inside-3_150_2507(fill='#fff')
                                path(d='M8.326 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M8.326 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M8.326 18.814c.817 0 1.48.663 1.48 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.48 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-5-inside-3_150_2507)')
                            mask#path-7-inside-4_150_2507(fill='#fff')
                                path(d='M12.49 20.814a.52.52 0 01-.521-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M12.49 20.814a.52.52 0 01-.521-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M12.49 18.814a1.48 1.48 0 011.479 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.479 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-7-inside-4_150_2507)')
                            mask#path-9-inside-5_150_2507(fill='#fff')
                                path(d='M16.652 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z')
                            path(class="delete-icon" d='M16.652 20.814a.52.52 0 01-.52-.52V7.284a.52.52 0 111.04 0v13.01a.52.52 0 01-.52.52z' fill='#0B0B0B')
                            path(class="delete-icon" d='M16.652 18.814c.817 0 1.48.663 1.48 1.48h-4a2.52 2.52 0 002.52 2.52v-4zm1.48 1.48V7.284h-4v13.01h4zm0-13.01a1.48 1.48 0 01-1.48 1.48v-4a2.52 2.52 0 00-2.52 2.52h4zm-1.48 1.48a1.48 1.48 0 01-1.48-1.48h4a2.52 2.52 0 00-2.52-2.52v4zm-1.48-1.48v13.01h4V7.284h-4zm0 13.01c0-.817.663-1.48 1.48-1.48v4a2.52 2.52 0 002.52-2.52h-4z' fill='#0B0B0B' mask='url(#path-9-inside-5_150_2507)')
                            mask#path-11-inside-6_150_2507(fill='#fff')
                                path(d='M24.978 3.122H0v1.04h24.978v-1.04z')
                            path(class="delete-icon" d='M24.978 3.122H0v1.04h24.978v-1.04z' fill='#0B0B0B')
                            path(class="delete-icon" d='M0 3.122v-2h-2v2h2zm24.978 0h2v-2h-2v2zm0 1.04v2h2v-2h-2zM0 4.163h-2v2h2v-2zm0 .96h24.978v-4H0v4zm22.978-2v1.04h4v-1.04h-4zm2-.96H0v4h24.978v-4zM2 4.163v-1.04h-4v1.04h4z' fill='#0B0B0B' mask='url(#path-11-inside-6_150_2507)')

                        


            .wrap-ware-item.total-sum#sticky  
                | 22222 fixed
                
            .wrap-ware-item.register-order 
                p.ware-block-name ОФОРМЛЕННЯ ЗАМОВЛЕННЯ  
                form.order-wrap 
                    .order-part
                        p.order-header Ваші контактні дані
                        .field-wrap
                            .order-input
                                label(for="lastName") Прізвище*
                                input(type="text" name="lastName")
                            .order-input
                                label(for="firstName") Ім'я*
                                input(type="text" name="firstName")
                            .order-input
                                label(for="phoneNumber") Мобільний телефон*
                                input(type="tel" name="phoneNumber")
                            .order-input
                                label(for="e-mail") Електронна пошта
                                input(type="e" name="e-mail")
                    .order-part
                        p.order-header Доставка
                        .field-wrap
                            .order-input
                                label.select-label(for="sendType") Спосіб доставки
                                select#sendType(name="sendType")
                                    option(value="novaPoshta") Нова пошта
                                    option(value="ukrPoshta") Укрпошта 
                                    option(value="ukrPoshta") Укрпошта 
                            .order-input
                                label.select-label(for="region") Область
                                select#region(name="region") 
                                    option(value="Odeka") Одеська
                                    option(value="Kyivska") Київська
                                    option(value="Vinnicka") Вінницька
                            .order-input
                                label.select-label(for="city") Місто
                                select#city(name="city") 
                                    option(value="Odesa") Одеса
                                    option(value="Kyiv") Київ
                                    option(value="Vinnica") Вінниця 
                            .order-input
                                label.select-label(for="postOffice") Відділення
                                select#postOffice(name="citpostOfficey") 
                                    option(value="") №1 Небесної сотні 9а
                                    option(value="Kyiv") №2 проспект перемоги
                    .order-part
                        p.order-header Оплата 
                        .field-wrap.wrap-checkradio
                            .radio-block
                                label.label-radio() Оплата при отриманні
                                    input(type="radio" name="radio" ) 
                                    span.checkmark.radio-btns
                                label.label-radio() Повна передоплата (NovaPay)
                                    input(type="radio" name="radio") 
                                    span.checkmark.radio-btns
                            .check-block    
                                label.wrap-checkbox Не дзвоніть мені для уточнення замовлення
                                    input(type="checkbox" name="checkbox") 
                                    span.checkmark
                                label.wrap-checkbox Хочу зареєструватися
                                    input(type="checkbox" name="checkbox") 
                                    span.checkmark    
        div
            | f some Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis dolores eveniet. Quasi dolor amet voluptatem iure, natus esse libero! Asperiores omnis neque ducimus voluptatem? Nobis delectus perspiciatis dolore quaerat.Quaerat consequatur iure tempora doloribus 