.cart-right
    a.closebtn.closeCart.closeRightSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .descr-name Корзина
    .cards 
        a(href="#").card
            .card-top
                img(src="https://content1.rozetka.com.ua/goods/images/big/303826704.jpg", alt="")
            .card-info
                p.card-name Кардиган
                .card-infoLine
                    .prices
                        .newPrice 
                            span.price-num 450 
                            span.price-currency &nbsp;грн.
                .cardInfoinCart 
                    p.cardInfoinCart-item 1 шт 
                    p.cardInfoinCart-item Розмір: S
                    p.cardInfoinCart-item Колір: Блакитний 
        a(href="#").card
            .card-top
                img(src="./img/illustrations/clothes-single/jemper1/jemper1.jpg", alt="")
            .card-info
                p.card-name Кардиган
                .card-infoLine
                    .prices
                        .newPrice 
                            span.price-num 450 
                            span.price-currency &nbsp;грн.
                .cardInfoinCart 
                    p.cardInfoinCart-item 1 шт 
                    p.cardInfoinCart-item Розмір: S
                    p.cardInfoinCart-item Колір: Блакитний
    .submit-block 
        p.sale 
            | Знижка 
            span 190 грн
        p.toPay 
            | Разом до оплати
        p.totalSum 
            | 3999 грн. 
        button.button.button-black.form ОФОРМИТИ ЗАМОВЛЕННЯ
        button.button.button-white.one-click-buy КУПИТИ В 1 КЛІК