main.l-main
 .main-slider
   .main-image-slider
      .slider-item 
         img(src="../img/illustrations/main-image.jpg", alt="main image")         
      .slider-item 
         img(src="../img/illustrations/main-image.jpg", alt="megasale")
