main.l-main
   .main-slider
      .main-image-slider
         .slider-item 
            img(src="./img/illustrations/main-image.jpg", alt="main image")         
         .slider-item 
            img(src="./img/illustrations/main-image.jpg", alt="megasale")
.new-collection-block 
   .content
      p.sliders-header-writing-mode Нова колекція
      //- h2.slider-name Нова колекція     
      .new-collection-slider.side-custom-arrows         
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="https://d1.dego.top/storage/media/RPjJM6AtkHLxtlFq2u1TvCTZYU3J8GZKQEgmp7Hl.jpg", alt="")
            .card-info
               p.card-name Кардиган самий довгий рядок для тесту
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 45450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 7806778
                        span.price-currency ₴
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="green")
                     
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale                              
               img(src="https://zaslavskayasya.github.io/wanted-e/dist/img/illustrations/default.jpg", alt="")
            .card-info
               p.card-name Спідниця з високою посадкою
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780 240 345
                        span.price-currency грн.
                  .card-colors
                     span.color-item(data-color="rebeccapurple")
                     span.color-item(data-color="coral")
                     span.color-item(data-color="red")
                     span.more-colors +5
         // card
         a(href="#").card
            .card-top
               
               .card-new.card-flag New               
               img(src="https://d1.dego.top/storage/media/hb17vJjRS2wR25wDK1adxsNYwMD7XyiOU9u5zdry.jpg", alt="")
            .card-info
               p.card-name Базовий гольфік
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="https://content1.rozetka.com.ua/goods/images/big/303826704.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="https://content1.rozetka.com.ua/goods/images/big/320483244.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes4.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
.sale-block 
   .content
      //- h2.slider-name Знижки    
      p.sliders-header-writing-mode Знижки
      .sale-slider.side-custom-arrows
         
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New
               img(src="./img/illustrations/clothes/clothes7.jpg", alt="")
            .card-info
               p.card-name Джинси
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes5.jpg", alt="")
            .card-info
               p.card-name Светр
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes4.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes11.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes4.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
.last-seen
   .content
      p.sliders-header-writing-mode Останні перегляди 
      //- h2.slider-name Останні перегляди    
      .last-seen-slider.side-custom-arrows
         
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New
               img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="./img/illustrations/clothes/clothes6.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top         
               img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card.card-no-data
            .card-top             
               img(src="./img/illustrations/default.jpg", alt="")
            .card-info
               p.card-name Wanted wanted wanted
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num  wanted
                        span.price-currency 
    
