main.l-main
   .main-slider
      .main-image-slider
         .slider-item 
            img(src="../img/illustrations/main-image.jpg", alt="main image")         
         .slider-item 
            img(src="../img/illustrations/main-image.jpg", alt="megasale")
.new-collection-block 
   .content
      .new-collection-slider.side-custom-arrows
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes1.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes2.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes3.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes4.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes5.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
         // card
         a(href="#").card
            .card-top
               .card-sale.card-flag Sale
               .card-new.card-flag New               
               img(src="../img/illustrations/clothes/clothes4.jpg", alt="")
            .card-info
               p.card-name Кардиган
               .card-infoLine
                  .prices
                     .newPrice 
                        span.price-num 450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 780
                        span.price-currency &nbsp;грн.
                  .card-colors
                     span.color-item(data-color="#000")
                     span.color-item(data-color="#FFF")
                     span.color-item(data-color="red")
                     span.more-colors +1
