
.catalog-wrap
    .content
        h1.page-catalog-name Куртки і пальта
        .catalog-content
            .wrp-filters
                .filter-line 
                    .filter-item 
                        img(src="./img/icons/settings.svg", alt="")
                    .filter-item(data-filterName="price")
                        p.filter-item-name Ціна
                        span.num 1
                    .filter-item(data-filterName="size")
                        p.filter-item-name Розмір
                        span.num 2
                    .filter-item(data-filterName="color")
                        p.filter-item-name Колір
                        span.num 2
                .sort-block
                    .sort-catalog
                        p  Сортувати
                            img(src="../img/icons/arrow-down.svg", alt="")
                        select#sort(name='sort')                           
                            option(value='cheap') Спочатку дешеві
                            option(value='expensive') Спочатку дорогі
                            option(value='new') Спочатку нові
                            option( value='old') Спочтаку старі
                            option( value='actions') Акційні

            .cards-place 
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                    .card-info
                        p.card-name Кардиган самий довгий рядок для тесту
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 45450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 7806778
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes2.jpg", alt="")
                    .card-info
                        p.card-name Спідниця з високою посадкою
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 780
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes10.jpg", alt="")
                    .card-info
                        p.card-name Базовий гольфік
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 780
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes11.jpg", alt="")
                    .card-info
                    p.card-name Кардиган
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num 450 
                                span.price-currency &nbsp;грн.
                                
                            .oldPrice 
                                span 780
                                span.price-currency &nbsp;грн.
                        .card-colors
                            span.color-item(data-color="#000")
                            span.color-item(data-color="#FFF")
                            span.color-item(data-color="red")
                            span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes5.jpg", alt="")
                    .card-info
                    p.card-name Кардиган
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num 450 
                                span.price-currency &nbsp;грн.
                                
                            .oldPrice 
                                span 780
                                span.price-currency &nbsp;грн.
                        .card-colors
                            span.color-item(data-color="#000")
                            span.color-item(data-color="#FFF")
                            span.color-item(data-color="red")
                            span.more-colors +1
            .group-catalog-buttons
                button.button.button-black.form Завантажити ще
                .group-pages 
                    button.button.button-white.page-btn 1  
                    button.button.button-white.page-btn.active 2 
                    button.button.button-white.disable(disabled) ... 
                    button.button.button-white.page-btn 8
                    button.button.button-white.page-btn 9 

    .last-seen
        .content
            //- h2.slider-name Останні перегляди    
            .last-seen-slider.side-custom-arrows(data-sliderName="Останні перегляди")                
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New
                        img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num 450 
                                span.price-currency &nbsp;грн.
                                
                            .oldPrice 
                                span 780
                                span.price-currency &nbsp;грн.
                        .card-colors
                            span.color-item(data-color="#000")
                            span.color-item(data-color="#FFF")
                            span.color-item(data-color="red")
                            span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes6.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num 450 
                                span.price-currency &nbsp;грн.
                                
                            .oldPrice 
                                span 780
                                span.price-currency &nbsp;грн.
                        .card-colors
                            span.color-item(data-color="#000")
                            span.color-item(data-color="#FFF")
                            span.color-item(data-color="red")
                            span.more-colors +1
                // card
                a(href="#").card
                    .card-top         
                        img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num 450 
                                span.price-currency &nbsp;грн.
                                
                            .oldPrice 
                                span 780
                                span.price-currency &nbsp;грн.
                        .card-colors
                            span.color-item(data-color="#000")
                            span.color-item(data-color="#FFF")
                            span.color-item(data-color="red")
                            span.more-colors +1
                // card
                a(href="#").card.card-no-data
                    .card-top             
                        img(src="./img/illustrations/default.jpg", alt="")
                    .card-info
                        p.card-name Wanted wanted wanted
                    .card-infoLine
                        .prices
                            .newPrice 
                                span.price-num  wanted
                                span.price-currency




.filter-right
    a.closebtn.closeRightSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .catalog-filter-item
        p.filter-name Фільтр
        .price-range.catalog-filter-item(data-CatalogFilterName="price")
            p.block-name.mobile-main-menu Ціна
            #steps-slider
            .slider-inputs
                input#input-with-keypress-0(type='text')
                input#input-with-keypress-1(type='text')

    .catalog-filter-item(data-CatalogFilterName="color")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Колір
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text Білий
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount (1)
                li
                    label.wrap-checkbox.normal-text Чорний
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text Фіолетовий
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 
    .catalog-filter-item
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Стиль
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text Кежуал
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 1
                li
                    label.wrap-checkbox.normal-text Для дому
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text Для віечірки
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 
    .catalog-filter-item(data-CatalogFilterName="size")
        div.mobile-main-menu
            a(href="#").nemu-name.block-name Розмір
                span.open-close
            ul.hidden-mobile-submenu
                li
                    label.wrap-checkbox.normal-text XSS
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 1
                li
                    label.wrap-checkbox.normal-text XS
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text S
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount
                li
                    label.wrap-checkbox.normal-text M
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 1
                li
                    label.wrap-checkbox.normal-text L
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 6
                li
                    label.wrap-checkbox.normal-text XL
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 
                li
                    label.wrap-checkbox.normal-text XXL
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount
                li
                    label.wrap-checkbox.normal-text XXXL
                        input(type='checkbox' value='' name='' data-id='') 
                        span.checkmark
                        span.amount 
    .filter-btn 
        .button.button-white Скасувати
        button.button.button-black Показати