.content
    h2.h2 ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ

    p За цим Договором одна сторона Продавець з одного боку, і будь - яка особа, яка прийняла умови цього Договору публічної оферти - Покупець, з іншого боку, далі спільно іменовані - Сторони, уклали цей Договір публічної оферти (далі - Договір), адресований необмеженому колу осіб, що є офіційною публічною пропозицією Продавця укласти з Покупцями договір купівлі-продажу Товарів, фотографії яких розміщені у відповідному розділі 
       a(href="#").link Веб-сайту ______________________________________. 
    p Продавці, які мають намір здійснювати продаж Товарів за допомогою 
        a(href="#").link Веб-сайту _____________________ 
        | і Покупці при придбанні Товарів, зображення яких розміщені на відповідних сторінках 
        a(href="#").link _____________
        |, приймають умови цього Договору про нижченаведене.
    h3.h3 1. ЗАГАЛЬНІ ПОЛОЖЕННЯ
    h6.h6 1.1. Договірні відносини між Продавцем і Покупцем оформлюються у вигляді Договору публічної оферти. Натискання на сторінці Веб-сайту _________________ у відповідному розділі кнопки "Замовити" означає, що Покупець, незалежно від статусу (фізична особа, юридична особа, фізична особа-підприємець), згідно з чинним міжнародним та Українським законодавством, взяв до виконання умови Договору публічної оферти, які вказані нижче.

    h6.h6 1.2. Договір публічної оферти є публічним, тобто відповідно до статей 633, 641 Цивільного кодексу України його умови однакові для всіх Покупців незалежно від статусу (фізична особа, юридична особа, фізична особа-підприємець). При повній згоді з цим Договором Покупець приймає умови і порядок оформлення замовлення, оплати і доставки товару Продавцем, відповідальності за недобросовісне Замовлення і за невиконання умов цього Договору.

    h6.h6 1.3. Цей Договір набуває чинності з моменту натискання на кнопку "ЗАМОВИТИ", яким покупець дає згоду здійснити покупку наявного у продавця Товару і діє до моменту отримання Покупцем Товару від Продавця і повного розрахунку з ним.

    h6.h6 1.4. Для регулювання договірних правовідносин за Договором Сторони обирають і, у разі необхідності, застосовують українське законодавство. Якщо міжнародним договором, згода на обов'язковість якого надана Верховною Радою України, встановлені інші правила, ніж ті, які встановлені українським законодавством, то застосовуються правила міжнародного договору.

    h3.h3 2. ТЕРМІНИ ТА ВИЗНАЧЕННЯ
    p "Договір публічної оферти" - публічний договір, зразок якого розміщено на Веб-сайті _______________ і застосування якого є обов'язковим для всіх Продавців, що містить пропозицію Продавця про придбання Товару, зображення якого розміщено на Веб-сайті ________________, спрямоване невизначеному колу осіб, у тому числі Покупцям.

    p "Акцепт" - прийняття Покупцем пропозиції Продавця про придбання Товару, зображення якого розміщено на Веб-сайті ________________, шляхом додавання його до віртуального кошику і відправки Замовлення.

    p "Товар" - предмет торгівлі ( виріб, модель, аксесуар, комплектуючі та супутні предмети, будь-які інші предмети торгівлі), про придбання якого на Веб-сайті______________ розміщено пропозицію продавця.

    p "Покупець" - будь-яка дієздатна фізична, юридична особа, фізична особа-підприємець, згідно з чинним міжнародним та українським законодавством, які відвідали Веб-сайт _______________ і мають намір придбати той чи інший Товар.

    p "Продавець" - будь-яка дієздатна фізична, юридична особа, фізична особа-підприємець, згідно з чинним міжнародним та українським законодавством, які є власниками або розповсюджувачами Товару та за допомогою Веб-сайту __________ мають намір його продати.

    p "Замовлення" - належним чином оформлена і розміщена на Веб-сайті ____________ заявка покупця на покупку Товарів, що адресується продавцю.

    p "Законодавство" - встановлені українським або міжнародним законодавством норми для регулювання договірних правовідносин за Договором.

    p "Істотний недолік Товару" - недолік, який унеможливлює або робить неприпустимим використання Товару відповідно до його цільового призначення, виник з вини виробника (Продавця), після його усунення проявляється знову з незалежних від споживача причин.

    h3.h3 3. ПРЕДМЕТ ДОГОВОРУ
    h6.h6 3.1. Продавець зобов'язується на умовах та в порядку, визначених цим Договором продати Товар на основі Замовлення, оформленого Покупцем на відповідній сторінці Веб-сайту _______________, а Покупець зобов'язується на умовах і в порядку, визначених цим Договором, купити Товар і сплатити за нього гроші.

    h6.h6 3.2. Продавець гарантує, що Товар не переданий у заставу, не є предметом спору, не перебуває під арештом, а також на нього відсутні будь-які права третіх осіб.

    h6.h6 3.3. Продавець і Покупець підтверджують, що діючий Договір не є фіктивною або удаваною угодою або угодою, вчиненою під впливом тиску або обману.

    h6.h6 3.4. Продавець підтверджує, що має всі необхідні дозволи на здійснення господарської діяльності, які регулюють сферу правовідносин, що виникають і діють в процесі виконання цього Договору, а також гарантує, що має право на виробництво та / або реалізацію товару без будь-яких обмежень, згідно з вимогами чинного законодавства України, та зобов'язується нести відповідальність у випадку порушення прав Покупця в процесі виконання цього Договору та реалізації Товару.

    h3.h3 4. ПРАВА ТА ОБОВ'ЯЗКИ ПРОДАВЦЯ
    h6.h6 4.1. Продавець зобов'язаний:
    p - виконувати умови цього Договору
    p - виконувати замовлення Покупця у разі надходження оплати від Покупця;
    p - передати Покупцеві Товар згідно з обраним зразком на відповідній сторінці Веб-сайту ________________, оформленому замовленню та умовам цього Договору;
    p - перевірити якісні та кількісні характеристики Товару під час його упаковки на складі;
    p - повідомити Покупця про можливу додаткову комісію при оплаті європейських замовлень картками типу Mastercard, Visa, Visa Electron, Mastercard Electronic, Maestro шляхом інформування в даному договорі.

    h3.h3 4.2. Продавець має право:
    p - в односторонньому порядку призупинити надання послуг за цим Договором у разі порушення Покупцем умов цього Договору.

    h6.h6 4.3. Продавець:
    p - Суб'єкт господарювання з числа осіб, що пропонують до придбання на Веб-сайті _________________ Товар за єдиними узгодженими правилами, викладеними в цьому договорі публічної оферти.*

    h3.h3 5. ПРАВА ТА ОБОВ'ЯЗКИ ПОКУПЦЯ
    h6.h6 5.1. Покупець зобов'язаний:
    p - своєчасно оплатити та отримати замовлення на умовах цього Договору;
    p - ознайомитися з інформацією про Товар, розміщеною на Веб-сайті ______________;
    p - при отриманні Товару у особи, яка здійснила його доставку, переконатися в цілісності і комплектності Товару шляхом огляду вмісту упаковки. У разі пошкодження або неповної комплектації Товару - зафіксувати їх в акті, який разом з Покупцем має підписати особа, яка здійснила його доставку Покупцеві.
    h6.h6 5.2. Покупець має право:
    p - оформити замовлення на відповідній сторінці Веб-сайту _______________;
    p - вимагати від Продавця виконання умов цього Договору;
    p - на інформування про можливу додаткову комісію при оплаті європейських замовлень картками типу Mastercard, Visa, Visa Electron, Mastercard Electronic, Maestro.

    h3.h3 6. ПОРЯДОК ОФОРМЛЕННЯ ЗАМОВЛЕННЯ
    h6.h6 6.1. Покупець самостійно оформляє замовлення на відповідній сторінці Веб-сайту __________________ шляхом додавання товарів у віртуальний кошик за допомогою натискання кнопки "в кошик", або зробивши замовлення по електронній пошті, або за номером телефону, зазначеному в розділі контактів Веб-сайту ______________.

    h6.h6 6.2. Термін формування Замовлення до 2 робочих днів з моменту його оформлення. У разі, якщо замовлення відправлено у вихідний або святковий день, термін формування починається з першого після вихідного робочого дня.

    h3.h3 7. ЦІНА ДОГОВОРУ І ПОРЯДОК ОПЛАТИ
    h6.h6 7.1. Ціна кожного окремого товару визначається продавцем і вказується на відповідній сторінці Веб-сайту ____________________. Ціна Договору визначається шляхом додавання цін всіх обраних Товарів поміщених у віртуальний кошик і ціни доставки, яка визначається в залежності від способу доставки відповідно до умов розділу 8 цього Договору.

    h6.h6 7.2. Вартість Замовлення може змінюватися в залежності від ціни, кількості або номенклатури товару.

    h6.h6 7.3. Покупець може оплатити Замовлення наступними способами:
    p 1) за допомогою банківського переказу грошей на поточний рахунок Продавця, зазначений у рахунку, в т.ч. за допомогою Інтернет-банкінгу (Покупець оплачує замовлення протягом трьох днів з дати отримання рахунку в розмірі 100% передоплати).
    p 2) післяплатою при отриманні Замовлення в представництві служби доставки на території України або на території іншої країни відповідно до місця здійснення замовлення товару за умови внесення передплати у розмірі 200 гривень.  .
    p 3) кредитною карткою наступного типу:
    p - Visa
    p - Visa Electron
    p - Mastercard
    p - Mastercard Electronic
    p - Maestro
    p 4) будь-яким іншим способом за домовленістю з Продавцем.
    p Примітка. При оплаті Покупцем замовлення платіжною карткою можливе стягування додаткової комісії емітентом цієї картки, зокрема при оплаті Покупцем замовлення платіжною карткою можливе стягування додаткової комісії при оплаті покупцем європейських замовлень емітентами карток Visa, Mastercard, Visa Electron, Mastercard Electronic, Maestro. При натисканні на сторінці Веб-сайту _______________ у відповідному розділі кнопки "Замовити" означає, що Продавець повідомив Покупця про можливість стягнення додаткової комісії при оплаті Покупцем європейських замовлень, емітентом картки Visa, Mastercard, Visa Electron, Mastercard Electronic, Maestro.

    h3.h3 8. УМОВИ ДОСТАВКИ ТОВАРУ
    h6.h6 8.1. Покупець отримує Товар за допомогою доставки, або отримує його особисто. Порядок оплати та отримання вказано на відповідній сторінці Веб-сайту _______________.

    h6.h6 8.2. При доставці Товарів в інші міста України або на території іншої країни, що виконується іншими Службами доставки (далі Компаніями-перевізниками) Покупець в повному обсязі і беззастережно погоджується з Правилами перевезення вантажів цими компаніями-перевізниками.

    h6.h6 8.3. Факт отримання Товару та відсутність претензій до якості Товару, що доставляється Компаніями-перевізниками, Покупець підтверджує власним підписом у товарно-транспортній накладній, декларації Компанії-перевізника, або у видатковій накладній при отриманні товару. Зі свого боку, Продавець гарантує відвантаження Товару Компанії-перевізнику в кількості, зазначеній і оплаченій Покупцем, в комплектності згідно специфікації цього Товару і в належному (робочому) стані і якості.

    h6.h6 8.4. У разі відсутності Покупця за адресою доставки, вказаною Покупцем в заявці або відмови Покупця від отримання Товару з необґрунтованих причин, при доставці Кур'єром компанії-перевізника, Товар повертається в торговий центр відвантаження. Оплата за послуги Компанії-перевізника віднімається із суми, перерахованої Покупцем за Товар. Залишок суми повертається Покупцеві на підставі його листа, відправленого на e-mail: ___________ із зазначенням розрахункового рахунку, на який повинні бути повернуті грошові кошти.

    h6.h6 Всі питання, що виникли в процесі оплати та отримання Товару, Покупець може з'ясувати за контактними даними в розділі Контакти.

    h3.h3 9. УМОВИ ПОВЕРНЕННЯ ТОВАРУ
    h6.h6 9.1. Відповідно до ст.9 Закону України «Про захист прав споживачів», покупець має право на обмін Товару належної якості протягом чотирнадцяти днів, не враховуючи дня покупки, якщо більш тривалий термін не оголошений Продавцем. Покупець має право на обмін Товару з урахуванням положень законодавства про підстави та перелік Товарів, які не підлягають обміну (поверненню).

    h6.h6 9.2. Якщо Покупець має намір повернути Товар, таке повернення здійснюється відповідно до розділу Сайту "Повернення" з урахуванням правил і умов перевізника або кур'єра, діючих на території України або на території іншої країни відповідно до місця здійснення отримання Товару.

    h6.h6 9.3. У разі наявності хоча б одного з перерахованих недоліків, Покупець зобов'язаний зафіксувати його в складеному акті довільної форми. Акт повинен бути підписаний Покупцем і особою, яка здійснила доставку Товару або Продавцем. При можливості недоліки повинні бути зафіксовані засобами фото- або відеозйомки. Протягом 1 (одного) дня Покупець зобов'язаний повідомити менеджера (представника Продавця відповідального за оформлення замовлення на Товар) про виявлені недоліки і домовитися про заміну Товару, заповнивши при цьому рекламаційну форму на повернення Товару на сайті __________________.

    h6.h6 9.4. Сторони погодили, що в разі недотримання обов'язкових вимог зазначеної процедури, визнається отримання Покупцем Товару в належному стані - без будь-яких механічних пошкоджень і в повній комплектності.

    h3.h3 10. ВІДПОВІДАЛЬНІСТЬ СТОРІН І ВИРІШЕННЯ СПОРІВ
    h6.h6 10.1. Сторони несуть відповідальність за невиконання або неналежне виконання умов цього Договору в порядку, передбаченому цим Договором та чинним міжнародним та українським законодавством.

    h6.h6 10.2. У разі виникнення спорів, пов'язаних з виконанням Сторонами цього Договору, за винятком спорів про стягнення заборгованості з покупця, сторони зобов'язуються вирішувати їх шляхом переговорів з дотриманням претензійного порядку. Термін розгляду претензії - 7 (сім) календарних днів з дати її отримання. У спорах у зв'язку зі стягненням заборгованості з Покупця дотримання претензійного порядку не потрібно.

    h6.h6 10.3. Всі спори, розбіжності або вимоги, що виникають із цього Договору або у зв'язку з ним, у тому числі ті, що стосуються його виконання, порушення, припинення або недійсності, підлягають вирішенню у відповідному суді згідно з міжнародним та українським матеріальним і процесуальним правом.

    h3.h3 11. ФОРС-МАЖОРНІ ОБСТАВИНИ
    h6.h6 11.1. Сторони не несуть відповідальності за невиконання будь-якого зі своїх зобов'язань, за винятком зобов'язань по оплаті, якщо доведуть, що таке невиконання було викликано форс-мажорними обставинами, тобто подіями або обставинами, які дійсно знаходяться поза контролем такої сторони, що настали після укладення цього Договору, що носять непередбачуваний і невідворотний характер.

    p До форс-мажорних обставин належать, зокрема, природні катаклізми, страйки, пожежі, повені, вибухи, обмерзання, війни (як оголошені, так і неоголошені), заколоти, загибель товару, затримки перевізників, викликані аваріями або несприятливими погодними умовами, небезпеки та випадковості на морі, ембарго, катастрофи, обмеження, що накладаються державними органами (включаючи розподіли, пріоритети, офіційні вимоги, квоти і ціновий контроль), якщо ці обставини безпосередньо вплинули на виконання цього Договору.

    h6.h6 11.2. Сторона, для якої стало неможливим виконання зобов'язань за цим Договором через настання форс-мажорних обставин, повинна негайно інформувати іншу Сторону в письмовому вигляді про виникнення вищевказаних обставин, а також протягом 30 (тридцяти) календарних днів надати іншій стороні підтвердження форс-мажорних обставин. Таким підтвердженням буде довідка, сертифікат або інший відповідний документ, виданий уповноваженим державним органом, розташованим за місцем виникнення форс-мажорних обставин.

    h6.h6 11.3. Час, який потрібен Сторонам для виконання своїх зобов'язань за цим Договором, буде продовжено на будь-який термін, протягом якого було відкладено виконання через перераховані обставини.

    h6.h6 11.4 Якщо через дії обставин непереборної сили невиконання зобов'язань за цим Договором триває більше трьох місяців, кожна зі сторін має право розірвати цей Договір в односторонньому порядку, письмово повідомивши про це іншу сторону.

    p Незважаючи на настання форс-мажору, перед припиненням цього договору внаслідок форс-мажорних обставин сторони здійснюють остаточні взаєморозрахунки.

    h3.h3 12. ІНШІ УМОВИ ДОГОВОРУ
    h6.h6 12.1. Інформація, що надається Покупцем є конфіденційною. Інформація про Покупця використовується виключно з метою виконання його замовлення (відправки повідомлення продавцю про замовлення товару, відправки рекламних повідомлень і т.д.).

    h6.h6 12.2. Власним акцептуванням договору або реєстрацією на Веб-сайті ________________ (заповнення реєстраційної анкети) Покупець добровільно дає згоду на збір і обробку своїх персональних даних з наступною метою: дані, які стають відомі, будуть використовуватися в комерційних цілях, у тому числі для обробки замовлень на придбання товарів, отримання інформації про замовлення, розсилки телекомунікаційними засобами зв'язку (електронною поштою, мобільним зв'язком) рекламних і спеціальних пропозицій, інформації про акції, розіграші або будь-якої іншої інформації про діяльність Веб-сайту _________.

    p Для цілей, передбачених цим пунктом, покупцеві мають право направлятися листи, повідомлення та матеріали на поштову адресу, e-mail покупця, а також відправлятися sms-повідомлення, здійснюватися дзвінки на вказаний в анкеті телефонний номер.

    h6.h6 12.3. Покупець дає право здійснювати обробку його персональних даних, в тому числі: поміщати персональні дані в бази даних (без додаткового повідомлення про це), здійснювати довічне зберігання даних, їх накопичення, оновлення, зміна (у міру необхідності). Продавець зобов'язується забезпечити захист даних від несанкціонованого доступу третіх осіб, не поширювати і не передавати дані будь-якій третій стороні (крім передачі даних пов'язаним особам, комерційним партнерам, особам, уповноваженим Продавцем на здійснення безпосередньої обробки даних для зазначених цілей, а також на обов'язковий запит компетентного державного органу).

    h6.h6 12.4 У разі небажання отримувати розсилку, покупець має право звернутися до Продавця, написавши заяву про відмову від отримання рекламних матеріалів, направивши її на поштову або електронну адресу.

    h6.h6 12.5 Продавець не несе відповідальності за зміст і достовірність інформації, що надається Покупцем при оформленні замовлення. Покупець несе відповідальність за достовірність зазначеної при оформленні замовлення інформації.

