.one-item-block 
    .content
        .one-item-wrap
            .left-part 
                .container-for-slider
                    .thumbnails 
                        .row
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%' onclick='currentSlide(1)' draggable="true" alt='The Woods')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%' onclick='currentSlide(2)' draggable="true" alt='Cinque Terre')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%' onclick='currentSlide(1)' draggable="true" alt='The Woods')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%' onclick='currentSlide(2)' draggable="true" alt='Cinque Terre')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%' onclick='currentSlide(1)' draggable="true" alt='The Woods')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%' onclick='currentSlide(2)' alt='Cinque Terre')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%' onclick='currentSlide(1)' alt='The Woods')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%' onclick='currentSlide(2)' alt='Cinque Terre')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%' onclick='currentSlide(1)' alt='The Woods')
                            .column                        
                                img.demo.cursor(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%' onclick='currentSlide(2)' alt='Cinque Terre')
                    .slides-block                
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper1.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%')
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper2.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%')             
                        .mySlides
                            .numbertext найвища якість
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper1.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%')
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper2.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%')             
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper1.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%')
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper2.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%')
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper1.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper1.jpg' style='width:100%')
                        .mySlides
                            
                            a(data-lightbox="roadtrip" href="./img/illustrations/clothes-single/jemper1/jemper2.jpg") 
                                img(src='./img/illustrations/clothes-single/jemper1/jemper2.jpg' style='width:100%')             
                        // Next and previous buttons
                        a.prev(onclick='plusSlides(-1)') 
                            img(src="./img/icons/arrow-left.svg", alt="")
                        a.next.nextOneSlider(onclick='plusSlides(1)')
                            img(src="./img/icons/arrow-right.svg", alt="")               

            .right-part 
                h4.h4 Білий трикотажний джемпер з коміром стійка та гудзиками       
                p.little-gray-text.articul Артикул: 35695548
                .prices
                     .newPrice 
                        span.price-num 45450 
                        span.price-currency &nbsp;грн.
                        
                     .oldPrice 
                        span 7806778
                        span.price-currency ₴
                .chooses-block
                    p.little-gray-text Оберіть колір                  
                    .card-colors
                        span.color-item(data-color="#000")
                        span.color-item(data-color="#D5C2AE")
                        span.color-item(data-color="#EBB2C9")
                        span.color-item(data-color="#7CB29E")
                        span.color-item(data-color="#000")

                .chooses-block
                    p.little-gray-text Оберіть розмір
                    .card-colors
                        span.size-item XS
                        span.size-item S
                        span.size-item M
                        span.size-item.disable L
                        span.size-item XL
                        span.size-item XXXL
                .sizes-line
                    p.size-table-btn(id="myBtn")
                        span Таблиця розмірів
                        img(src="./img/icons/sizes.svg", alt="")
                button.button.button-black.addToCart Додати в кошик
                .descriptions
                    p.description-text.info-trigger.tablinks(onclick="openDes(event, 'description')")
                        | опис та характеристики                            
                    p.description-text.info-trigger.tablinks(onclick="openDes(event, 'sendAndPay')")
                        | доставка та оплата
    .last-seen
        .content
            p.sliders-header-writing-mode Це привернуло вашу увагу
            //- h2.slider-name Останні перегляди    
            .last-seen-slider.side-custom-arrows
                
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New
                        img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 780
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card
                    .card-top
                        .card-sale.card-flag Sale
                        .card-new.card-flag New               
                        img(src="./img/illustrations/clothes/clothes6.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 780
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card
                    .card-top         
                        img(src="./img/illustrations/clothes/clothes3.jpg", alt="")
                    .card-info
                        p.card-name Кардиган
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num 450 
                                    span.price-currency &nbsp;грн.
                                    
                                .oldPrice 
                                    span 780
                                    span.price-currency &nbsp;грн.
                            .card-colors
                                span.color-item(data-color="#000")
                                span.color-item(data-color="#FFF")
                                span.color-item(data-color="red")
                                span.more-colors +1
                // card
                a(href="#").card.card-no-data
                    .card-top             
                        img(src="./img/illustrations/default.jpg", alt="")
                    .card-info
                        p.card-name Wanted wanted wanted
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num  wanted
                                    span.price-currency 
                // card
                a(href="#").card.card-no-data
                    .card-top             
                        img(src="./img/illustrations/default.jpg", alt="")
                    .card-info
                        p.card-name Wanted wanted wanted
                        .card-infoLine
                            .prices
                                .newPrice 
                                    span.price-num  wanted
                                    span.price-currency                                 





                     
.info-right
    a.closebtn.closeRightSidebar(href="javascript:void(0)" ) 
        img(alt="close" src="./img/icons/close.svg")
    .description-text-info.tabcontent#description
        .descr-name Опис та характеристики
        .descr-text 
            | Стильний і теплий светер щільної в'язки з посадкою оверсайз зігріє у холодну пору року та додасть затишку. Модель незамінна як у домашніх умовах, так і для створення вихідного аутфіту.
        ul.right-info-list 
            p.right-info-list-name Матеріал
            li.right-info-list-item якісна європейська 100% бавовна 
        ul.right-info-list 
            p.right-info-list-name Деталі та крій
            li.right-info-list-item класичний крій;
            li.right-info-list-item кишеня-кенгуру спереду;
            li.right-info-list-item бірка з фірмовим логотипом на рукав.
        ul.right-info-list 
            p.right-info-list-name Сезон
            li.right-info-list-item цілорічний
        ul.right-info-list 
            p.right-info-list-name Догляд
            li.right-info-list-item прання у звичайному режимі при температурі не вище 30°С, без віджиму;
            li.right-info-list-item відбілювання заборонено;
            li.right-info-list-item сушити в підвішеному стані, без застосування штучної сушки.
        ul.right-info-list 
            p.right-info-list-name На фото
            li.right-info-list-item 
                span зріст моделі 
                | 182px
            li.right-info-list-item
                span вага моделі 
                | 74 кг
            li.right-info-list-item
                span розмір речей
                | M
    .description-text-info.tabcontent#sendAndPay
        .descr-name Доставка і оплата
        .descr-text 
            | Своєчасна і комфортна доставка
        ul.right-info-list 
            p.right-info-list-name Служби доставки
            li.right-info-list-item Нова пошта
            li.right-info-list-item Укрпошта
            li.right-info-list-item Justin


#myModal.modal
  // Modal content
  .modal-content
    .close-modal
        img(alt="close" src="./img/icons/close.svg")
    img(src="./img/illustrations/sizechart_US_women.jpg", alt="")
