.cabinet-page
    .content
        a(href="#").back-link 
            img(src="./img/icons/arrow-left2.svg", alt="") 
            | Повернутись до головної
        h2.cabinet-page-name.h2 Мої замовлення
        .table-all
            .table-row
                .number.t-item # 
                .date.t-item Дата
                .sum.t-item Сума
                .status.t-item Статус
            /// one order    
            .table-plate.one-order 
                .table-row.table-header.accordion
                    .number.t-item 630 
                    .date.t-item 03.08.09
                    .sum.t-item 494.51₴
                    .status.t-item в дорозі
                    .panel-status 
                        img(src="./img/icons/arrow-down.svg", alt="")
                .panel.order-table
                    .order-header 
                        .column-1.articul
                            | Артикул
                        .column-2.photo Фото
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers Кількість
                        .column-5.price Ціна
                    .order-inner
                        .column-1.articul
                            | 23445
                        .column-2.photo
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers 1 
                        .column-5.price 56665                           

            /// one order    
            .table-plate.one-order 
                .table-row.table-header.accordion
                    .number.t-item 630 
                    .date.t-item 03.08.09
                    .sum.t-item 494.51₴
                    .status.t-item в дорозі
                    .panel-status 
                        img(src="./img/icons/arrow-down.svg", alt="")
                .panel.order-table
                    .order-header 
                        .column-1.articul
                            | Артикул
                        .column-2.photo Фото
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers Кількість
                        .column-5.price Ціна
                    .order-inner
                        .column-1.articul
                            | 23445
                        .column-2.photo
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers 1 
                        .column-5.price 56665                           
                    .order-inner
                        .column-1.articul
                            | 23445
                        .column-2.photo
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers 1 
                        .column-5.price 56665   
                    .order-inner
                        .column-1.articul
                            | 23445
                        .column-2.photo
                            img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                        .column-3.name kshjdifunbfjk eirfjiuerbfgvfdev ergretgreg
                        .column-4.numbers 1 
                        .column-5.price 56665   
