.cabinet-page
    .content
        a(href="#").back-link 
            img(src="./img/icons/arrow-left2.svg", alt="") 
            | Повернутись до головної
        h2.cabinet-page-name.h2 Мої замовлення
        .table-all
            .table-row.names-of-all
                .number.t-item  # 
                .date.t-item Дата
                .sum.t-item Сума
                .status.t-item Статус
            /// one order    
            .table-plate.one-order 
                .table-row.table-header.accordion
                    .number.t-item 
                        span.only-mob-info #
                        span 630 
                    .date.t-item 
                        span.only-mob-info Дата
                        span 03.08.09
                    .sum.t-item 
                        span.only-mob-info Сума 
                        span 494.51₴
                    // .status-road , .status-rejected , .status-done, .status-complect
                    .status.t-item.status-road В дорозі
                    .panel-status 
                        //- img(src="./img/icons/arrow-down.svg", alt="")
                .panel
                    .order-table
                        .order-table-header 
                            .table-column.column-1.table-articul
                                | Артикул
                            .table-column.column-2.photo Фото
                            .table-column.column-3.name Назва
                            .table-column.column-4.numbers Кількість
                            .table-column.column-5.price Ціна
                        .order-table-inner.dashed
                            .table-column.column-1.table-articul
                                span.only-mob-info Артикул
                                span 23445
                            .table-column.column-2.photo
                                img(src="./img/illustrations/clothes/clothes1.jpg", alt="")
                            .table-column.column-3.name 
                                 a(href="#") теплий зимовий светр із вишитим візерунком і карманами
                            .table-column.column-4.numbers 
                                span.only-mob-info Кількість
                                span 1
                            .table-column.column-5.price 
                                span.only-mob-info Ціна
                                span 56665                          
                        .order-table-inner
                                .table-column.column-1.table-articul
                                    span.only-mob-info Артикул
                                    span 23445
                                .table-column.column-2.photo
                                    img(src="./img/illustrations/clothes/clothes5.jpg", alt="")
                                .table-column.column-3.name 
                                     a(href="#") Красиве пляття
                                .table-column.column-4.numbers 
                                    span.only-mob-info Кількість 
                                    span 1 
                                .table-column.column-5.price 
                                    span.only-mob-info Ціна
                                    span 56665 
                        button.button.button-black Відмінити замовлення                                     
                
            /// one order    
            .table-plate.one-order 
                .table-row.table-header.accordion
                    .number.t-item 630 
                    .date.t-item 03.08.09
                    .sum.t-item 494.51₴
                    // .status-road , .status-rejected , .status-done, .status-complect
                    .status.t-item.status-done Виконано
                    .panel-status
                .panel
                    .order-table
                        .order-table-header 
                            .table-column.column-1.table-articul
                                | Артикул
                            .table-column.column-2.photo Фото
                            .table-column.column-3.name Назва
                            .table-column.column-4.numbers Кількість
                            .table-column.column-5.price Ціна
                        .order-table-inner.dashed
                            .table-column.column-1.table-articul
                                span.only-mob-info Артикул
                                span  23445
                            .table-column.column-2.photo
                                img(src="./img/illustrations/clothes/clothes6.jpg", alt="")
                            .table-column.column-3.name 
                                a(href="#") Зручний одяг
                            .table-column.column-4.numbers 
                                span.only-mob-info Кількість 
                                span 1 
                            .table-column.column-5.price 
                                span.only-mob-info Ціна 
                                span 56665                          
                        .order-table-inner
                                .table-column.column-1.table-articul
                                    span.only-mob-info Артикул
                                    span 23445
                                .table-column.column-2.photo
                                    img(src="./img/illustrations/clothes/clothes2.jpg", alt="")
                                .table-column.column-3.name 
                                    a(href="#") базові речі
                                .table-column.column-4.numbers
                                    span.only-mob-info Кількість
                                    span 1 
                                .table-column.column-5.price 
                                    span.only-mob-info Ціна
                                    span 56665    