
.content
    h3.h3.center Наші магазини
    .map-place 
        iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1TTDTnD58Y3o4oCA0e29Tjadipms&ehbc=2E312F' )
    .adress-line  
        .city 
            p Київ 
        .adress 
            .wrap-info 
                .wrp-img 
                    img(src="../img/icons/lsicon_location-outline.svg", alt="")
                .text 
                    p ТРЦ «Олімпійський» Вул. Велиrа Васильківська, 72 Орієнтир: 1 поверх 
            .wrap-info 
                .wrp-img.time 
                    img(src="../img/icons/lets-icons_time-light.svg", alt="")
                .text 
                    p Щодня 11.00-20.00
        .link   
            a(href="") Переглянути на мапі
    .adress-line  
        .city 
            p Одеса 
        .adress 
            .wrap-info 
                .wrp-img 
                    img(src="../img/icons/lsicon_location-outline.svg", alt="")
                .text 
                    p Вул. Европейська (Катерининська) 30
            .wrap-info 
                .wrp-img.time 
                    img(src="../img/icons/lets-icons_time-light.svg", alt="")
                .text 
                    p Щодня 11.00-20.00
        .link   
            a(href="") Переглянути на мапі