.content 
    h2.h2 Доставка і оплата
    p Процедура покупки товару в нашому Інтернет-магазині дуже проста і складається з декількох кроків.
    h3.h3 1. Оформлення замовлення
    p Після вибору товару натисніть кнопку В кошик — товар додасться у ваш кошик.
    p Далі, якщо ви закінчили вибирати товар, натисніть кнопку ваша корзина.
    p На сторінці ваша корзина будуть перераховані всі вибрані вами товари.

    p У колонці Дії над кожним товаром можна зробити наступні дії: або видалити товар з кошика, або відкласти товар на майбутнє.

    h3.h3 2. Оформлення та підтвердження замовлення
    p Після введення необхідної інформації про доставку товару (ПІБ отримувача, адреса доставки, контактні дані, варіант доставки, спосіб оплати і т.д) для оформлення замовлення вам потрібно натиснути кнопку Оформити замовлення .
    p Увага! Неправильно зазначений номер телефону, неточний або неповна адреса можуть привести до додаткової затримки! Будь ласка, уважно перевіряйте ваші персональні дані при реєстрації та оформленні замовлення.
    p Через деякий час (зазвичай протягом години) після оформлення покупки, з вами зв'яжеться наш менеджер по контактними даними, вказаними при оформленні замовлення. З менеджером можна буде узгодити точний час і терміни доставки, а також уточнити деталі.
    h3.h3 4) ДОСТАВКА, ОПЛАТА, ПОВЕРНЕННЯ
    h5.h5 ДОСТАВКА
    p Новою Поштою в будь-який куточок України 1-3 дні.
    p  (Терміни відправлення товару, можуть змінюватись  продавцем)

    h5.h5 ОПЛАТА 

    p Оформляйте замовлення, використовуючи зручний для вас спосіб  оплати:
    p • Банківською картою Visa і MasterCard
    p • Банківським переводом
    p • Готівкою при отриманні у відділенні «Нова пошта»
    p Ми приймаємо банківські карти Visa і MasterCard.
    p Оплата онлайн відбувається на сторінці, захищеної сертифікатами безпеки. Для захисту ваших даних ми використовуємо кращу технологію захисту даних в мережі інтернет. Ви оплачуєте тільки вартість товару, комісія при оплаті онлайн не стягується.
    h5.h5 Банківський переказ
    p При оплаті банківським переказом банк може стягувати комісію (це залежить від банку). Після зарахування грошей на наш банківський рахунок ми оформляємо Ваше замовлення.
    h5.h5 Готівкою при отриманні на відділенні «Нова пошта»
    p Оплатити товар готівкою Ви можете при отриманні замовлення на відділенні поштової служби.
    p При накладеному платіж одержувач оплачує: своє замовлення + 20 грн фіксоване і 2% від загальної суми замовлення (за пересилання грошей) + доставку Нової Пошти. Комісію за накладений платіж завжди оплачує покупець.

    h3.h3 Повернення та обмін товару 

    p Якщо вам не підійшов розмір, колір, або ж ви виявили інші проблеми, впродовж 14 днів після  покупки, ви можете повернути нам товар або обміняти на інший.
    p Доставка оплачується покупцем, у разі повернення або обміну товару. Якщо відправити повернення за допомогою послуги  "Легкого повернення"  через додаток Нової пошти - доставка  безкоштовна!

    p Повернення коштів відбувається протягом 1-3 робочих днів після отримання нами товару, що повертається від вас на склад Нової Пошти. 

    h3.h3 Умови повернення / обміну:
    p • відсутність ознак використання товару, забруднень, сторонніх запахів;
    p У разі виявлення ознак використання товару, ми залишаємо за собою право на відмову у поверненні коштів.